.fileupload_container {
  padding: 43px 10px;
  background: var(--fuBgGray);
  display: flex;
  border-radius: 8px;
  margin-block-start: 80px;
  flex-direction: column;
  border: 4px dashed var(--blueBorder);
  max-inline-size: 500px;
  margin-inline: auto;
}

.txt-drop-files {
  font-size: 1.6rem;
}

.txt-find-files {
  cursor: pointer;
  color: var(--blueBorder);
  text-decoration: underline;
}

.file {
  display: none;
}