.header-stepper {
  border-radius: 8px;
  background: #fff;
  gap: 30px;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-inline-size: 1500px;
}

.stepper-list {
  gap: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.stepper-list li {
  gap: 10px;
  display: flex;
  align-items: center;
  list-style: none;
}

.step-circle {
  width: 25px;
  height: 25px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  color: blue;
  border: 1px solid blue;
}

.step-circle.step-active {
  background: blue;
  color: white;
}

.txt-step {
  color: lightgray;
}

.txt-step.txt-step-active {
  color: blue;
}