.header-stepper {
  border-radius: 8px;
  background: #fff;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-list {
  gap: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.stepper-list li {
  list-style: none;
}