.header-stepper {
  border-radius: 8px;
  background: #fff;
  gap: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  max-inline-size: 1200px;
}

.stepper-list {
  gap: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.stepper-list li {
  list-style: none;
}