* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --danger: #FF2B56;
  --borderGray: #DAE2EF;
  --fuBgGray: #F4F6FC;
  --minusLightGray: #8E8E8E;
  --lightGray: #5E5E5E;
  --lightBlue: #3A77EC;
  --blue: #187DFB;
  --darkBlue: #002179;
  --lightBlueBtn: #125BE9;
  --blueBorder: #0037CB;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: system-ui;
  background: linear-gradient(#FAFAF8, #D8E3F2);
}

p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.txt-blue {
  color: var(--blue);
}

.txt-gray {
  color: var(--borderGray);
}

.txt-danger {
  font-size: 1.6rem;
  color: var(--danger);
  margin-block-start: 1.8rem;
}

.txt-light-gray {
  color: lightgray;
}

.txt-center {
  text-align: center;
}